@import "../tools/customization";

.social-icon__list{
  @extend %flex-row;
}
.footer--color{
 color: $color-dark-grey;
 }
.item-facebook {
  &:before {
    @include icon-style($awesome, $size-20, $font-weight-600,'\f39e');
    margin-right: 1.875rem;
  }
}
.team--color{
  color: $color-yellow;
}
.team--color, .footer--color{
  &:hover, &:active{
    color: $color-orange;
  }
}
.item-twitter {
  &:before {
    @include icon-style($awesome, $size-20, $font-weight-600,'\f099');
    margin-right: 1.875rem;
  }
}
.item-google {
  &:before {
    @include icon-style($awesome, $size-20, $font-weight-600,'\f0d5' );
  }
}
